<html>
  <head>
    <title>Vue.js Basics</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
      .one{
        color: green;
      }
      .two{
        text-decoration: line-through;
      }
      .canvas{
        width: 300px;
        height: 300px;
        margin-top: 20px;
        background: #ddd;
      }
    </style>
  </head>
  <body>
  <h1>Vue basic</h1>
  <div id="app">
    <h2>{{title}}</h2>

    <!--modifiers-->
    <p>my name is {{name}}</p>
    <button @click.alt="logMessage">alt only click me</button>
    <button @click.shift="logMessage">shift only click me</button>
    <a href="http://www.google.com" @click.prevent="logMessage">google</a>
    <br><br><br>

     <!--conditional output v-if-->
     <p v-if="showName">Mario</p>
     <p v-else-if="showAge">30</p>
     <button @click="toggleName">ShowName: {{showName}}</button>
     <button @click="toggleAge">ShowAge: {{showAge}}</button>
     <br><br><br>
    
     <div>
     <ul>
       <li v-for="item in items">{{item}}</li>
     </ul>
     <div v-for="ninja in ninjas">
       <p>{{ninja.name}}</p>
       <p>{{ninja.age}}</p>
       <p>{{ninja.belt}}</p>
     </div>
    </div>
     <!--two way databinding-->
     <p>my name is {{name}}</p>
     <input type="text" v-model="name">

     <br><br><br>
    <!--keyboard event-->
    <input type="text" @keyup="updateName">
    <input type="text" @keypress="updateName">

    <!--Event object-->
    <button @click="logEvent">Log event info</button>
    <div class="canvas" @mousemove="logCoords">{{coords.x}}, {{coords.y}}</div>

    <!--binding data-->
    <p>i earn {{wage}} dollars</p>
    <button v-on:click="changeWage(1)">Increase wage by 1</button>
    <button v-on:click="changeWage(-1)">decrease wage by 1</button>
    <button v-on:dblclick="changeWage(5)">increase wage by 5</button>
    <button v-on:dblclick="changeWage(-5)">decrease wage by 5</button>

    <p>{{greet('morning')}}</p>
    <a v-bind:href="url">youtube</a>
    <div v-bind:class="classes">Classes from instance</div>
    <input type="text" :value="name">
  </div>
  
  <script src="app.js"></script>
  </body>
</html>
